.lbl {
    float: left !important;
}

.doc {
    height: 100%;
    width: 100%;
}

.header {
    margin-bottom: 3%;
}

.pro {
    margin: 5%;
    padding: 5%;
    background-color: aliceblue;
    border: 2px solid steelblue;
    border-radius: 5px;
}